html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="custom.css")
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light mb-5")
            a(href='/') Thao.LV
            button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(href="/" class="nav-link") Home
                            span(class="sr-only") (current)
                    li(class="nav-item dropdown")
                        a(href="/products" class="nav-link") Product
                        //- a(href="/products",class="nav-link ropdown-toggle", id="navbarDropdownMenuLink", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Product
                        //- div(class="dropdown-menu", aria-labelledby="navbarDropdownMenuLink")
                        //-     a(class="dropdown-item", href="/products/") Car
                        //-     a(class="dropdown-item", href="/products/") Moto
                        //-     a(class="dropdown-item", href="/products/") Bike                          
                        //-     div(class="dropdown-divider")
                        //-     a(class="dropdown-item", href="/products/") All product
                    li(class="nav-item")
                        a(href="/users", class="nav-link") User
                    li(class="nav-item")
                        a(href="/cart", class="nav-link" ) Cart
            if user
                i(class="material-icons") face
                a(href="/users/"+ user._id)
                    b(class="my-2 mr-3 font-size-6 text-dark")= user.name
                a(href="/logout")
                    button(class="btn btn-outline-success my-2 my-sm-0" type="button") Log out
            else 
                a(href="/auth/login")
                    button(class="btn btn-outline-success ml-2 mr-2" type="button") Login
                a(href="/users/create")
                    button(class="btn btn-outline-success" type="button") Sign up
                    
        .container
            block content
        //- script(src="https://unpkg.com/axios/dist/axios.min.js")
        //- script(src='handle.js')
